Name: <%= @cat.name %>
<div>Location: <%= @cat.location %></div>
<div>Age: <%= @cat.age %></div>
<div>Favourite Food: <%= @cat.favourite_food %></div>
<div>Favourite Toy:<%= @cat.favourite_toy %></div>